  <%= f.label :title, :caption => "Title *" %>
  <%= f.text_field :title, :class => "input-block-level" %>
  <%= f.label :location, :caption => "Location *"%>
  <%= f.text_field :location, :class => "input-block-level" %>
  <%= f.label :due_date , :caption => "Due date * (dd/mm/yyyy)"%>
  <input id="date" name="job_offer[due_date]" type="date" min="2015-01-01" max="2060-01-01" pattern="/^[0-3]?[0-9]\/[01]?[0-9]\/[12][90][0-9][0-9]$/"/>
  <%= f.label :description, :caption => "Description"%>
  <%= f.text_area :description, :class => "input-block-level" %>
  <p>* Required fields</p>

  <br/>
