<h1>Candidates for <%=@job_offer.title%></h1>
<div class="table table-bordered">
	<table class="sortable">

	<tr>
		<th>Last Name</th>
		<th class="sorttable_nosort">First Name</th>
		<th class="sorttable_nosort">Email Address</th>
		<th class="sorttable_nosort">Link CV</th>
		<th class="sorttable_nosort">Short Bio</th>
	</tr>

	<% @candidates.each do | candidate| %>

	<tr>
		<td><%= candidate.last_name %></td>
		<td><%= candidate.first_name %></td>
		<td><%= candidate.applicant_email %></td>
		<td><%= candidate.link_cv %></td>
		<td><%= candidate.short_bio %></td>
	</tr>
	<% end %>

</table>
</div>
